@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
  }
  
  body {
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #ffffff);
    min-height: 100vh;
  }
  
  main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
  }
  .creator {
    position: absolute;
    font-weight: 600;
    color: black;
    top: 16%;
    right: 65%;
    font-size: clamp(6px, 5vw, 13px);

  }
  
  
  .pokedex {
    width: 100%;
    max-width: 300px;
  }
  
  .pokemon__image {
    position: absolute;
    bottom: 50%;
    left: 58%;
    transform: translate(-63%, 20%);
    height: 22%;
  }
  
  .pokemon__data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 56%;
    right: 20%;
    font-size: clamp(9px, 5vw, 27px);
  }
  
  .pokemon__name {
    color: black;
    text-transform: capitalize;
  }
  
  .form {
    position: absolute;
    width: 50%;
    top: 70%;
    left: 10%;
  }
  
  .input__search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 3px solid black;
    border-radius: 10px;
    font-weight: 600;
    color: #000;
    font-size: clamp(8px, 5vw, 1rem);
    background-color: #f1f1f1;
  }
  

  .buttons {
    position: absolute;
    bottom: 11%;
    left: 42%;
    width: 50%;
    transform: translate(-60%, 0);
    display: flex;
    gap: 30px;
  }

  
  .button {
    width: 80%;
    padding: 3%;
    border: 3px solid #000;
    border-radius: 20px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: bold;
    color: black;
    background-color:#f1f1f1;
    
  }
  
  .button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
  }